/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
   max-width: 1440px;
    min-width: 320px;
}
    

.card2-container {
  display: flex;
  flex-direction: row;
    
}
.title-container2 {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-size: cover;
}


footer {
    background-color: #f5f5f5;
    padding: 20px;
    line-height: 30px; 
    margin-top:40px;
    margin-left:50px;
    margin-right:50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
}

.column {
    flex: 1;
    margin: 0 10px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 5px 0;
}

.card2 h3{
    margin:17px;
    font-size:15px;    
}

.card2 {
    margin: 0 20px;
    margin-bottom: 20px;   
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;  
    color:black;
}


a{
    text-decoration: none;
}

.card2-container > * {
    display:flex;  
    flex: 1 1 0;
}


.hebergements2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
}


.card2 img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;  
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    text-align: justify;
    margin-top: -10px;
    width: 100%;
}

.div_top {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

.section-subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
}

.filtres-container {
    display: inline-flex; 
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.container-filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.container {
    display: flex;
    align-items: center;
}

.filtres {
    display: inline-flex; 
    align-items: center;
    color: black;
    height: 40px;
    padding: 0 15px;
    border-radius: 1000px;
    border: 2px solid #D9D9D9;
    font-weight: bold;
    margin: 5px;

}




.rounded-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #F2F2F2, #F2F2F2), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.rounded-right img {
    display: none; 
}




.info {
    font-weight: 200;
    display: flex;
    align-items: center;
    margin-bottom:20px;
}

.card1-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.card1 {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    color:black;
}

.card1 img {
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card1 h2 {
    margin: 0 15px 10px;
    text-align: left;
    font-size: 16px;
}

.card1 h3 {
    margin: 0 15px 50px;
    text-align: left;
    font-size: 16px;
}

.card1 p {
    margin: 0 15px 10px;
    text-align: justify;
    font-size: 14px;
}

.info_logo {
    height: 17px;
    width: 17px;
    padding: 3px;
    border-radius: 1000px;
    border: 1px solid #D9D9D9;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

.input-field {
    padding: 10px;
    margin: 0;
    height: 30px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.rounded-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0065FC;
    font-weight: bold;
}

.logo {
    height: 19px;
    width: 61.09px;
    margin-top: 30px;
    margin-left: 30px;
}

nav ul {
    display: flex;
}

ul {
    list-style-type: none;
    padding: unset;
}

nav li {
    padding: 16px 33.5px;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;
    padding: 16px 33.5px;
}

nav li:hover a {
    color: #0065FC;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-bg-mobile-color: white;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    top: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    color:black;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card1-rating {
    margin: 0 15px 10px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Media queries ***********/
/* (Moins de 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* (moins de 768px) */
@media (max-width: 768px) {
    

    
    
    .rounded-right img {
        display: block; 
        height:20px;    
    }
    
    .container {
        width:100%; 
        justify-content: space-between;
    }
    .rounded-right {
      height:30px;
        width:50px;
        border-radius: 10px;   
    }
    
    .populaires-cards .card {
        display: flex;
        width: 100%;
    }
    

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
    }

    
    .input-field {
        width: 100%;
    }


    .rounded-right span {
        display: none; 
    }

    
    
    .filtres-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 79px;
        text-align: justify;
        margin-top: 20px;
    }

    .logo-container {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
      .logo{
        margin: 0;
    }
    

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .menu {
        display: flex;
        width: 100%;
        border-bottom: 1px rgb(240, 240, 240) solid;
    }

    nav li:hover {
        border: none;
        border-bottom: solid 2px #0065FC;
        cursor: pointer;
        padding: 16px 33.5px;
    }

    .menu li {
        flex: 0 0 40%;
        text-align: center;
        padding: 16px 33.5px;
        max-width: 50%;
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }

    .hebergements-and-populaires section{
        margin-top:50px;
        padding: 0 0px;
        border-radius:0px;
        width: 100%;
    }
    
    
    .hebergements-and-populaires {
        background-color: var(--main-bg-color);
        flex-direction: column-reverse;
        padding-left:30px;
        padding-right:30px;
    }

    .card1-container {
        display: grid;
        margin-bottom:15px;
    }

    .container-filtres {
        display: flex;
        flex-direction: column;
    }

    .card1-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card1 {
        width: 100%;
    }
        .card1 img{
        height:140px;
    }
    

        .card {
        width: 100%;
    }

    .div_top {
        padding: 0 30px 0 30px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }

    .filtres {
        flex: 1 0 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        padding: 5px;
        margin: 15px 5px 10px 5px;
    }
    

    .card2-container {
        display: flex;
        flex-direction: column; 
    }
    
    .card2 img {
        height: 160px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px; 
    }
    .hebergements2 {
        padding:0px;
        margin-left:30px;
        margin-right:30px;       
    }   
    

    
    .card2 {
        margin:0px;   
        margin-bottom: 20px;
        width: 100%;    
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column; 
    }
    
    footer {
        background-color: #f5f5f5;
        padding: 20px;
        line-height: 30px; 
        margin-top:40px;
        margin-left:0px;
        margin-right:0px;
    }

     .column {
         margin-bottom:30px;
    }

    

}
